.formRow {
  input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin: 10px auto;
    font-weight: 400;
    text-align: left;
    border: 1px solid #444;
    outline: none;
  }
}
