.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10.5rem;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
}
.header:hover {
  background-color: #fff;
  transition: all 0.4s ease;
}
