.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10.5rem;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  .hamburger {
    display: none;
  }
}
.header:hover {
  background-color: #fff;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding: 20px 0;
  &-list {
    display: inline-block;
    margin-left: 40px;
  }
  &-link,
  span {
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
  }
}
.logo {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  &-link {
    color: #000;
  }
}
@media screen and (max-width: 768px) {
  .header {
    top: 0;
    .hamburger {
      display: block;
    }
  }
  .nav_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 40%;
    right: 0;
    top: 10px;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    &-list {
      margin: 10px;
      text-align: left;
    }
    &-link,
    span {
      color: #fff;
    }
    span {
      left: 20px;
      top: 170px;
    }
  }
}
