.admin {
  min-height: 100vh;
  width: 100%;
  margin-top: 60px;
  padding: 20px 10px 20px 0px;

  .callToActions {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0px auto;
  }
}

.manageProducts {
  h1 {
    text-align: center;
    margin-top: 5rem;
  }
  .product-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 24.2%;
    margin-left: 1rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }
  }
}
